<app-menu></app-menu>
<app-fondo></app-fondo>
<p>En ayuda informática usamos los métodos mas novedosos para ayudarte con tu pc</p>
<br/>
<br/>
<p>Desde un reconocimiento básico del problema usando herramientas como TeamViewer
  o Skype, hasta exámenes físicos del problema y evaluaciones personalizadas
</p>
<br/>
<br/>
<p>También ofrecemos ayuda en el uso de firmas electrónicas y certificados digitales,
  además de disponer de la tecnología para hacer un buen uso seguro de estos mismos métodos
</p>
<router-outlet></router-outlet>