p{
    color:white;
    margin-left:25%;
    margin-right:15%;
    margin-top:15%;
    font-size: 13px;
}
label{
    color:white;

    font-size: 13px;
}
.formDiv{
    margin-top:5%;
    margin-left:25%;
}
.button1{
    margin-top: 5%;
    margin-left:25%;
}