.menuPostLogin{
    background-color: lightblue;
}
div{
    height: 15%;
    border: black 1px solid;
    display: flex;
    
    align-items: center;
}
img{
    position:relative¡;
    width:20%;
    height:100%;
}
button{
    margin-left:5%;
    border:black 1px solid;
    border-radius:20px;
    font-size: 8px;
    
}
a{
    margin-left:5%;
}
