label{
    color:white;

    font-size: 13px;
}
.formDiv{
    margin-top:10%;
    margin-left:20%;
    margin-right:15%;
}
.button1{
    margin-left:20%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom:5%
}
.button2{
    margin-left:20%;
}